* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'MuseoModerno', cursive;
    background-color: #e0ece4;
    line-height: 1.3;
}

header {
    color: #056674;
}




/*============== navbar ============================*/
nav {
    background-color: #056674;
}

.navBar {
    color: #e0ece4;
    align-items: center;
    list-style: none;
    font-size: 25px;
    padding: 12px 0px;
    align-items: center;
    font-weight: 200;
}

/* dropdown menu */
select {
    font-size: 17px;
    background-color: #e0ece4;
}

/*~~~~~~~~~~~~~~~~~~~~~~~ style for the content of the page ~~~~~~~~~~~~~~~~~~~~~*/
.content {
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 7px auto;
    max-width: 1000px;
}

.content,
.questionContainer,
.navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*==========counter of the number of right and wrong answersd==========*/

#rigthAnsw {
    color: rgb(7, 190, 7);
    margin-right: 15px;
    font-size: 25px;
}

#wrongAnsw {
    color: #ff4b5c;
    margin-left: 15px;
    font-size: 25px;
}
/* ===========question style ======================= */
#questions {
    color: #595352;
    margin: 12px 0px;
    font-size: 23px;
    font-weight: 100;
}

.questionContainer {
    font-family: 'Inconsolata', monospace;
    color: #66bfbf;
    margin: 12px 0px;
    font-size: 15px;
}


/*==============  Answers  ============================*/
.answers {
    display: flex;
    flex-direction: column;
}

/* =============answers button ====================*/

/* right or wrong display */
.result {
    font-size: 20px;
}

.btn {
    font-size: 17px;
    border: none;
    border: 3px solid #595352;
    padding: 7px 0px;
    border-radius: 12px;
    transition: all .3s;
    margin: 7px 0px;
    background-color: #e0ece4;
    color: #595352;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}


/* generate questions: button */
#createQuestion {
    outline: none;
    padding: 7px 44px;
    font-size: 23px;
    margin: 7px 0px;
    border: none;
    background-color: #ff4b5c;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: all 1.4s;
    color: #e0ece4;
}

#createQuestion:hover {
    cursor: pointer;
    background-color: #056674;
    color: #e0ece4;
    transform: skewX(12deg) scale(1.1);
}

/* this are the classes that I use in my JavaScript */
.right {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
    color: white;
}

.crossClass {
    text-decoration: line-through;
    transition: all 1s;
    background-color: red;
    color: white;
}

/* media Queries */
@media(min-width: 800px) {
    .answers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        margin: 22px 0px;
    }
}